*.log
.buildpath
.project
.settings
.DS_Store
node_modules
public/hot
public/storage
storage
!storage/app/.gitkeep
!storage/app/public/.gitkeep
!storage/framework/.gitkeep
!storage/framework/cache/.gitkeep
!storage/framework/cache/data/.gitkeep
!storage/framework/session/.gitkeep
!storage/framework/testing/.gitkeep
!storage/framework/views/.gitkeep
vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
