
//*** FONT SIZES ***//

.text-small {
	font-size:0.85rem;
}
.text-smallest {
    font-size: 0.75rem;
}

//*** MAX WIDTH ***//

.mw50 {
	max-width: 50px;
}
.mw75 {
	max-width: 75px;
}
.mw100 {
	max-width: 100px;
}

//*** WIDTH ***//
.wr27 {
	width:27rem;
}
.wr30 {
	width:30rem;
}




.no-border {
	border:0 !important;
}

.required-input-marker {
	color: #ccc;
}